.category {
    background-color: white;
    min-height: 100vh;
    padding: 50px 40px;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
}

.preview {
    height: 133px;
    width: 133px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 20px;
}
.headerInfo {
}

.title {
}
.desc {
    font-size: 18px;
    line-height: 20px;
    color: rgb(171, 169, 169);
}

.createGameButton {
    width: auto;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(102, 102, 240);
    color: white;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.createGameButton:hover,
.createGameButton:active {
    background-color: rgb(73, 73, 242);
    color: white;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
