html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray !important;
}

.result-modal-enter {
    opacity: 0;
}
.result-modal-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.result-modal-exit {
    opacity: 1;
}
.result-modal-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
