.playGround {
    background-color: white;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.termsItems {
    border: 2px solid grey;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 20px;
    padding: 10px;
    min-width: 30%;
    min-height: 50px;
    justify-content: space-around;
    font-weight: bold;
}
.termsItem {
    cursor: grab;
    min-height: 20px;
    min-width: 40px;
    padding: 10px;
    border: 1px solid lightcoral;
    border-radius: 5px;
}
.termsItem:not(:first-child) {
    margin: 0 0 0 10px;
}

.definitionContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
}
.definitionItem {
    display: flex;
    margin: 0 20px 0 0;
}
.definitionBoard {
    min-height: 50px;
    min-width: 50px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
}
.definitionText {
    margin: 0 0 0 10px;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.submitButton {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: greenyellow;
    border: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px 10px 0;
}
.resetButton {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: lightcoral;
    border: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    display: inline-block;
}

.submitButton:active {
    background-color: rgb(148, 219, 42);
}
.resetButton:active {
    background-color: rgb(244, 96, 96);
}
